<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.atguigu.java.ai.langchain4j.mapper.AppointmentMapper">
</mapper>

<!--注意<?xml version="1.0" encoding="UTF-8"?>前面不能有空行，不能注释，无BOM，定格写-->